:root {
  --fc-border-color: rgb(128, 128, 128);
  --fc-daygrid-event-dot-width: 5px;
  --fc-button-border-color: #bebebe;
  --fc-button-bg-color: white;
  --fc-button-text-color: #333333;
  --fc-button-hover-bg-color: #bebebe;
  --fc-button-hover-text-color: white;
  --fc-button-active-bg-color: #333333;
  --fc-button-active-text-color: white;
  --fc-today-bg-color: #bebebe50;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

.category-tile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fc {
  max-height: 100%;
}

.fc .fc-toolbar-chunk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.fc-button {
  text-transform: uppercase !important;
}

.fc .fc-daygrid-day-number {
  font-size: 1.5rem;
  font-weight: bold;
}

.fc .fc-timegrid-slot-label-cushion,
.fc .fc-timegrid-axis-cushion {
  text-transform: uppercase;
}

.fc .fc-col-header-cell-cushion {
  font-size: 1.25rem;
}

.fc .fc-timegrid-slot-minor {
  border-top: 1px solid var(--fc-border-color);
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background-color: var(--fc-button-active-bg-color);
  border-color: var(--fc-button-active-border-color);
  color: var(--fc-button-active-text-color);
}
