:root {
  --fc-border-color: rgb(210, 210, 210);
  --fc-daygrid-event-dot-width: 5px;
  --fc-button-border-color: #d8d8d8;
  --fc-button-bg-color: white;
  --fc-button-text-color: #333333;
  --fc-button-hover-bg-color: #bebebe;
  --fc-button-hover-text-color: white;
  --fc-button-active-bg-color: #333333;
  --fc-button-active-text-color: white;
  --fc-today-bg-color: #ffdddd52;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

.category-tile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fc .fc-toolbar-chunk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
}

.fc-button {
  text-transform: uppercase !important;
}

.fc .fc-daygrid-day-number {
  font-size: 1.5rem;
  font-weight: bold;
}

.fc .fc-timegrid-slot-label-cushion,
.fc .fc-timegrid-axis-cushion {
  text-transform: uppercase;
}

.fc .fc-col-header-cell-cushion {
  font-size: 1rem;
}

.fc .fc-timegrid-slot-minor {
  border-top: 1px solid rgb(235, 235, 235);
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background-color: var(--fc-button-active-bg-color);
  border-color: var(--fc-button-active-border-color);
  color: var(--fc-button-active-text-color);
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 1px solid var(--fc-border-color);
}

.fc table tbody {
  z-index: 1;
}

.fc .fc-toolbar {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .fc .fc-toolbar {
    flex-direction: column;
    gap: 0.5rem;
  }

  .fc .fc-col-header-cell-cushion {
    font-size: 0.75rem;
  }

  .fc .fc-daygrid-day-number {
    font-size: 0.75rem;
  }

  .fc .fc-daygrid-event {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }

  .fc .fc-daygrid-event-dot {
    width: 10px;
    margin: 0;
  }

  .fc .fc-event-title {
    font-size: 0.75rem;
  }

  .fc .fc-button.fc-button-primary {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .fc .fc-toolbar-title {
    font-size: 1rem;
  }
}
